body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2px;
    padding: 2px;
    color: #333;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
header {
    background: #87CEEB;
    color: #00008B;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header .tagline {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-style: italic;
}
#about {
    padding: 2rem 0;
}
#about .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 2rem;
}
#skills {
    background: #CBC3E3;
    padding: 2rem 0;
}
#skills ul {
    list-style: none;
    padding: 0;
}
#skills li {
    background: #FFB6C1;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border:2px solid #000000;
}
#projects {
    padding: 2rem 0;
}

.project {
    margin-bottom: 2rem;
}
.project img {
    max-width: 100%;
    height: auto;
}
#resume {
    background: #CBC3E3;
    padding: 2rem 0;
    text-align: center;
}

#resume a {
    display: inline-block;
    background:#FFB6C1 ;
    color:#00008B ;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border:2px solid #000000;
}
#contact {
    padding: 2rem 0;
    text-align:center;
}
footer {
    background: #87CEEB;
    color:#00008B ;
    text-align: center;
    padding: 1rem 0;
}